-r backend/requirements.txt

# Linting & Formatting
ruff==0.14.13
mypy==1.19.1
types-aiofiles==25.1.0.20251011

# Missing types (Adding them to sync with CI)
types-passlib
types-python-jose

# Testing
pytest
pytest-asyncio
httpx
greenlet

# Debugging
ipdb